/* General */
body {
	background-image: url(../img/pexels-photo-1565982.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
	
}

p {
	font-size: 14px;
	line-height:130%;
	margin: 0;
	margin-bottom: 7px;
}

h1 { 
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 30px;
	margin: 0px; 
	margin-bottom: 12px;
}
h2{
	
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li{
	font-size: 14px;
	margin: 1px;
	padding: 1px;
	margin-bottom: 25px;
}

a { 
	font-size: 16px;
	color: rgb(231, 129, 13); 
	text-decoration: none;
}
header{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 5px auto;
	background-color: #dfd7cb83;

}


.grid-item{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:smaller;
	font-style: italic;
}

.grid-recipes{
	display: grid;
	grid-template-rows: auto auto auto;
}

.recipes-page{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

/* Main Content */

main {
	margin: 10px auto;
	display: flexbox;
}
.neutral{
	display: grid;
	grid-template-columns: auto;
}

#mainText{
	background-image: url(../img/unknown.png);
}
.mainPage{
	
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 5px;
}

/*          */

.commercial1{
	display: none;
}

.commercial2 img{
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	bottom: 20px;
}

/* Content Positioning */

.contentAlign{
	text-align: center;
}

.title{
	display: flex;
	justify-content: center;
	margin-top: auto;
	margin-bottom: auto;
}

.contentSplit{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}

.contentSplit img{
	width: 100%;
}

.contentRight {
	float: right;
	padding: 10px;
	margin-right: 5px;
	margin-top: 5px;
}

/*          */

.searchbox{
	text-align: right;
	padding: 10px;
}

.DbImage{
	background-color: #d8b08cda;
	border-radius: 25px;
	width: 25%;
	display: block;
	padding: 5px;
	image-rendering: crisp-edges;
}

.recipe-images{
	background-color: #f4af73;
	border-radius: 25px;
	width: 100%;
	padding: 5px;
	image-rendering: crisp-edges;
}

a:hover {  
	text-decoration: underline;
}
/* För att centrera en bild måste man göra om den till ett block-element */
.img-center{
	display: block;
	margin: 0 auto; /* centrerar */
}
.critical{
	color: red;
}
.prio{
	color: red;
}

footer{
    display: block;
    text-align: center;
    font-size: .90em;
    bottom:0;
    width: 100%;
    height: 30px;
    position: fixed;
}

.img-logo {


	margin-left: auto;
	right: 0px;
	display: block;
	float: right;
	width: 300px;
	height: 300px;
}

.background2{
	background-color: #ccc;
	background-image: none;
}

#ingredients{
	background-color: #eee;
}

/* Star Rating */


.rate
{
	height: 46px;
	padding: 0 10px;
}

.rate:not(:checked) > input
{
	position:absolute;
	top: -9999px;
}
.rate:not(:checked) > label
{
	float:right;
	width: 1em;
	overflow:hidden;
	white-space:nowrap;
	font-size:20px;
    color:#ccc;
}

.rate:not(:checked) > label:before
{
    content: '★ ';
}
.rate > input:checked ~ label
{
    color: #ffc700;    
}


.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label
{
    color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* END -- Star Rating */


/* Color Theme Swatches in Hex */
.Knock-Knock-SparkStorys-#002-1-hex { color: #F2C84B; }
.Knock-Knock-SparkStorys-#002-2-hex { color: #BF7C41; }
.Knock-Knock-SparkStorys-#002-3-hex { color: #59493B; }
.Knock-Knock-SparkStorys-#002-4-hex { color: #BFA288; }
.Knock-Knock-SparkStorys-#002-5-hex { color: #261A18; }


/* Detta är en Desktop */
@media screen and (min-width: 1025px){
	h1{
		font-size: 40px;
	}
	main {
		margin: 10px auto;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 10px;
	}
	img{
		width: 100%;
		height: fit-content;
	}
	.commercial1{
		display:block;
		width: 100%;
		height:auto;
		top: auto;
		right: 5px;
	}
	.contentSplit img{
		width: 75%;
	}

	.commercial2{
		display: none;
	}
	.grid-item{
		font-size: medium;
		width: 400px;
	}
	.recipe-images{
		background-color: #f4af73;
		border-radius: 25px;
		width: 500px;
		padding: 5px;
		image-rendering: crisp-edges;
		margin: 10px;
	}
	.recipes-page{
		display: grid;
		grid-template-columns: 1fr 3fr;
		
	}
	
}


/* Detta är en Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px){
	.main {
		background-color: #eee;
		margin: 10px auto;
		display: grid;	
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}
	.contentSplit img{
		width: 90%;
	}
	.commercial1{
		
		display: none;
	}
	.commercial2{
		display: block;
	}
	.grid-item{
		font-size: medium;
	}
}
