/* General */
body {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-size: 14px;
	line-height:130%;
	margin: 0;
	margin-bottom: 7px;
}

h1 { 
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 40px;
	margin: 0px; 
	margin-bottom: 12px;
}
h2{
	background-color: #43d364;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li{
	font-size: 14px;
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
}

a { 
	font-size: 16px;
	color: #f90; 
	text-decoration: none;
}
header{
	display: grid;
	text-align: center;
	grid-template-columns: 3fr 1fr;
	margin: 10px auto;
	background-color: #ff2e09;
	grid-gap: 5px;
}

.mainPage{
	background-color: #BF7C41;
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 5px;
}

.contentAlign{
	text-align: center;
}
.contentSplit{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 15px;
}	


main {
	background-color: #eee;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 10px;
}


a:hover {  
	text-decoration: underline;
}
/* För att centrera en bild måste man göra om den till ett block-element */
.img-center{
	display: block;
	margin: 0 auto; /* centrerar */
}
.critical{
	color: red;
}
.prio{
	color: red;
}

footer{
    display: block;
    text-align: center;
    font-size: 0.75em;
    bottom:0;
    width: 100%;
    height: 30px;
    position: fixed;
}



/* Color Theme Swatches in Hex */
.Knock-Knock-SparkStorys-#002-1-hex { color: #F2C84B; }
.Knock-Knock-SparkStorys-#002-2-hex { color: #BF7C41; }
.Knock-Knock-SparkStorys-#002-3-hex { color: #59493B; }
.Knock-Knock-SparkStorys-#002-4-hex { color: #BFA288; }
.Knock-Knock-SparkStorys-#002-5-hex { color: #261A18; }

